body{
    background-color: rgb(103, 103, 215);
}

h1{
    margin-left: 500px;
    margin-top: 40px;
}

p{
    margin-left: 100px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:left;
    margin-top: 40px;
}